<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:include="base/resource :: header" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/css/help.css}" rel="stylesheet" type="text/css" />
<title>使用帮助</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="line-height:50px;">
			<div class="col-10"><h3><a th:href="@{/}">功能列表</a> / 使用帮助</h3></div>
			<div class="col-2 text-right">
				<a href="javascript:history.go(-1);">返回</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<ul>
					<li>
						<h4>配置管理 - 变量</h4>
						<p>在书写SQL中，可以用变量方式作为占位符进行书写，程序运行时会采用replace方式替换对应变量。例如：select * from ${abc}，若abc变量的值为tab_name，那么执行的SQL为：select * from tab_name。变量分为自定义变量和内置变量。</p>
					</li>
					<li>
						<h4>配置管理 - SQL内置变量</h4>
						<p>
							<ul>
								<li><span class="var-title">CONFIG_ID</span><span class="var-desc">配置ID</span></li>
								<li><span class="var-title">CONFIG_NAME</span><span class="var-desc">配置名称</span></li>
								<li><span class="var-title">CONFIG_REMARK</span><span class="var-desc">配置功能说明</span></li>
								<li><span class="var-title">CONFIG_INST_ID</span><span class="var-desc">配置实例ID</span></li>
								<li><span class="var-title">SRC_DS_NAME</span><span class="var-desc">源库名称</span></li>
								<li><span class="var-title">SRC_DS_USER</span><span class="var-desc">源库用户名</span></li>
								<li><span class="var-title">DEST_DS_NAME</span><span class="var-desc">目标库名称</span></li>
								<li><span class="var-title">DEST_DS_USER</span><span class="var-desc">目标库用户名</span></li>
								<li><span class="var-title">DEST_DS_TABLE</span><span class="var-desc">目标库表</span></li>
								<li><span class="var-title">DEST_DS_TABLE_PK_JSON</span><span class="var-desc">目标库表主键JSON数组</span></li>
								<li><span class="var-title">SYSTEM_CURRENT_TIME</span><span class="var-desc">系统当前时间毫秒数</span></li>
								<li><span class="var-title">SYSTEM_CURRENT_TIME_STR</span><span class="var-desc">系统当前时间字符串（格式：yyyy-MM-dd HH:mm:ss）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_YEAR_START_DATE</span><span class="var-desc">本年第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_YEAR_END_DATE</span><span class="var-desc">本年最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_YEAR_START_DATE</span><span class="var-desc">去年第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_YEAR_END_DATE</span><span class="var-desc">去年最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_QUARTER_START_DATE</span><span class="var-desc">本季度第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_QUARTER_END_DATE</span><span class="var-desc">本季度最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_QUARTER_START_DATE</span><span class="var-desc">上季度第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_QUARTER_END_DATE</span><span class="var-desc">上季度最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_MONTH_START_DATE</span><span class="var-desc">本月第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_MONTH_END_DATE</span><span class="var-desc">本月最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_MONTH_START_DATE</span><span class="var-desc">上月第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_MONTH_END_DATE</span><span class="var-desc">上月最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_WEEK_START_DATE</span><span class="var-desc">本周第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_WEEK_END_DATE</span><span class="var-desc">本周最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_WEEK_START_DATE</span><span class="var-desc">上周第一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_LAST_WEEK_END_DATE</span><span class="var-desc">上周最后一天的日期字符串（格式：yyyy-MM-dd）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_HOUR_START_TIME</span><span class="var-desc">当前小时的日期开始时间字符串（格式：yyyy-MM-dd HH:mm:ss）</span></li>
								<li><span class="var-title">DATETIME_CURRENT_HOUR_END_TIME</span><span class="var-desc">当前小时的日期结束时间字符串（格式：yyyy-MM-dd HH:mm:ss）</span></li>
								<li><span class="var-title">DATETIME_LAST_HOUR_START_TIME</span><span class="var-desc">上一小时的日期开始时间字符串（格式：yyyy-MM-dd HH:mm:ss）</span></li>
								<li><span class="var-title">DATETIME_LAST_HOUR_END_TIME</span><span class="var-desc">上一小时的日期结束时间字符串（格式：yyyy-MM-dd HH:mm:ss）</span></li>
							</ul>
						</p>
					</li>
					<li>
						<h4>完成后SHELL脚本环境变量</h4>
						<p>
							<ul>
								<li><span class="var-title">SYSTEM_DIR</span><span class="var-desc">程序运行路径</span></li>
								<li><span class="var-title">WORK_DIR</span><span class="var-desc">脚本执行路径</span></li>
								<li><span class="var-title">TASK_ID</span><span class="var-desc">任务ID</span></li>
								<li><span class="var-title">TASK_SUCCESS</span><span class="var-desc">任务是否成功</span></li>
								<li><span class="var-title">CONFIG_ID</span><span class="var-desc">配置ID</span></li>
							</ul>
						</p>
					</li>
					<li>
						<h4>调度管理 - CRON表达式</h4>
						<p>定时调度表达式共7位，分别是：秒、分、时、月、星期、年，其中年为可选字段。下面为表达式的一些示例，可参照编写。</p>
						<table border="1" cellspacing="1" cellpadding="1">
							<tr>
								<th class="text-center">表示式</th>
								<th class="text-center">说明</th>
							</tr>
							<tr>
								<td>0 0 12 * * ? </td>
								<td>每天12点运行</td>
							</tr>
							<tr>
								<td>0 15 10 ? * *</td>
								<td>每天10:15运行</td>
							</tr>
							<tr>
								<td>0 15 10 * * ?</td>
								<td>每天10:15运行</td>
							</tr>
							<tr>
								<td>0 15 10 * * ? *</td>
								<td>每天10:15运行</td>
							</tr>
							<tr>
								<td>0 15 10 * * ? 2019</td>
								<td>在2019年的每天10：15运行</td>
							</tr>
							<tr>
								<td>0 * 14 * * ?</td>
								<td>每天14点到15点之间每分钟运行一次，开始于14:00，结束于14:59。</td>
							</tr>
							<tr>
								<td>0 0/5 14 * * ?</td>
								<td>每天14点到15点每5分钟运行一次，开始于14:00，结束于14:55。</td>
							</tr>
							<tr>
								<td>0 0/5 14,18 * * ?</td>
								<td>每天14点到15点每5分钟运行一次，此外每天18点到19点每5钟也运行一次。</td>
							</tr>
							<tr>
								<td>0 0-5 14 * * ?</td>
								<td>每天14:00点到14:05，每分钟运行一次。</td>
							</tr>
							<tr>
								<td>0 10,44 14 ? 3 WED</td>
								<td>3月每周三的14:10分到14:44，每分钟运行一次。</td>
							</tr>
							<tr>
								<td>0 15 10 ? * MON-FRI</td>
								<td>每周一，二，三，四，五的10:15分运行。</td>
							</tr>
							<tr>
								<td>0 15 10 15 * ?</td>
								<td>每月15日10:15分运行。</td>
							</tr>
							<tr>
								<td>0 15 10 L * ?</td>
								<td>每月最后一天10:15分运行。</td>
							</tr>
							<tr>
								<td>0 15 10 ? * 6L</td>
								<td>每月最后一个星期五10:15分运行。</td>
							</tr>
							<tr>
								<td>0 15 10 ? * 6L 2019-2021</td>
								<td>在2019,2020,2021年每个月的最后一个星期五的10:15分运行。</td>
							</tr>
							<tr>
								<td>0 15 10 ? * 6#3</td>
								<td>每月第三个星期五的10:15分运行。</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
